@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&family=Lato:wght@300&family=Lexend+Deca&family=Outfit&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=BioRhyme:wght@300;400&family=Lato:wght@300&family=Lexend+Deca&family=Outfit&family=Roboto:wght@300&display=swap');

h1{
    font-family: 'Big Shoulders Display', cursive;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: small;
    line-height: 1.5;
}


body{
    color: white;
}


.container{
    max-width: 700px;
    height: 450px;
    box-sizing: border-box;
    margin: 100px auto;
    border-radius: 10px;

    
}

@media (min-width:768px){
    .container{

    display: flex;
    justify-content: center;
    align-items: center;


    }
}




.kids{
  padding: 40px;
}

button{
    padding: 10px 25px 10px 25px;
    margin-top: 60px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.kids:nth-child(1){
background-color:  hsl(31, 77%, 52%);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.kids:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}

.kids:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sedan:hover{
    color:  hsl(31, 77%, 52%);
}

.suv:hover{
    color: hsl(184, 100%, 22%);
}

.luxury:hover{
    color: hsl(179, 100%, 13%);
}